alembic==1.14.1
fastapi==0.115.13
python-multipart==0.0.20
passlib[argon2]==1.7.4
cryptography==45.0.4
psycopg2-binary==2.9.10
pydantic-settings==2.7.0
pyotp==2.9.0
PyJWT==2.10.1
python-json-logger==2.0.7
SQLAlchemy==2.0.36
uvicorn[standard]==0.32.1

pytest==8.3.4
httpx==0.28.1
